* {
    box-sizing: border-box;
    font-family: 'Avenir', Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

button {
    cursor:pointer;
}

/*header*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    padding: 5px 230px;
}

.header .frames-logo {
    height: auto;
    width: 67px;
}

.header .social {
    display: flex;
    gap: 30px;
}

/*hero*/

.hero {
    display: flex;
    background-color: #3d3d3d;
    color: white;
    justify-content: space-between;
    align-items: flex-end;
    padding: 60px 230px;
}

.hero h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -10px;
}

.hero p {
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 400;
}

.hero button {
    background-color: #564DB6;
    width: 140px;
    color: white;
    border-radius: 10px;
    border: 0px;
    padding: 6px;
    font-family: 'Avenir Heavy';
    font-size: 18px;
}

.hero .film-logo {
    height: auto;
    width: 180px;
}

.hero .artwork {
    height: auto;
    width: 320px;
    
}

.hero .submit {
    display: flex;
    align-items: center;
}

.hero .submit .x {
    margin-left: 25px;
    font-weight: 900;
}


/*Events*/

.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: 450;
    padding: 30px;
    gap: 30px;
}

.events h2 {
    font-weight: 900;
    color: #252525;
    
}

.events img {
    height: auto;
    width: 140px;
    border-radius: 10px;
    margin: 0px 60px
}

.events .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    
}

.top,
.bottom {
    display: flex;
    justify-content: center;
    width: 200px;
    gap: 30px;  
}

.events .cards span {
    font-weight: 600;
    font-size: 14px;
    color: #252525;   
}

.events .cards div {
    text-align: center;
}

.screening,
.laurel,
.judge,
.mehfilm,
.csr {
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 35px 8px;
}



/*quote*/

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EBD8FF;
    padding: 80px 80px 58px 80px;
    color: #252525;
    margin: 110px 0px;
}

.quote .prose {
    align-self: center;
    font-size: 22px;
    font-weight: 400;
}

.quote .author {
    align-self: center;
    margin: 5px 0px 0px 450px;
    font-size: 16px;
    font-weight: 900;
}

/*action*/

.action {
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 110px 0px;
    padding: 40px;
    border-radius: 10px;
    color: white;
    background-color: #564DB6;
    font-size: 17px;
    font-weight: 900;
    width: 750px;
}

.action span {
    font-size: 15px;
    font-weight: 400;
}

.action button {
    background-color: #564DB6;
    width: 140px;
    color: white;
    border-radius: 10px;
    border: 2px solid white; 
    padding: 6px;
    font-family: 'Avenir Heavy';
    font-size: 18px;
    margin-right: 85px;
}

/*footer*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    color: white;
    font-size: 15px;
    padding: 30px;
    
}

.footer .pretext {
    display: flex;
    justify-content: center;
    font-size: 13px;
    padding: 1px;
}

.footer .logo {
    height: auto;
    width: 30px;
    margin-left: 20px;
}

















